.friendList{
    list-style: none;
    display: flex; /* Використовуємо Flexbox для горизонтального розміщення */
    justify-content: space-around; /* Розміщуємо елементи з рівними проміжками */
    padding: 0;
    gap: 10px;
    
    width: 500px; /* Забезпечуємо, щоб список займав всю ширину контейнера */
    margin: 20px 0 20px 0 ; /* Відміняємо зовнішні відступи */
    
}
.friendItem {
    width: 100%;
    flex: 1; /* Встановлюємо однакову ширину для всіх елементів */
    text-align: center; /* Центруємо текст всередині елемента */
    border: 1px solid rgb(77, 77, 83); /* Додаємо границі для візуального розділення */
    border-radius: 25px;
    padding: 10px;
    box-sizing: border-box; /* Забезпечуємо правильний розрахунок ширини */
}